html{
  font-family: Futura;
  color: white;
}
.header{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #2947a6;
  opacity: 0.9;
}
.header h1{
  font-size: 2.5rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
body{
  background-image: url("./imgs/background.jpg");
  background-repeat: no-repeat;
}
.about-me{
  display: flex;
  flex-direction: column;
}
.about-img-p{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-me img{
  width: auto;
  height: 20rem;
}
.about-p{
  margin-left: 3vw;
  background: black;
  opacity: 0.7;
  width: 50vw;
  text-align: center;
}
.about-p p{
margin-top: 5rem;
}
.projects{
  background: black;
  opacity: 0.7;
  margin: 2rem;
}
.project-sheet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card{
  background: gray;
  opacity: 0.7;
}
.project img{
  width: 20vw;
  height: 20vh;
}
.tech{

}
.contact-me div{
  display: flex;
  flex-direction: row;
}
.contact-info{
  display: flex;
  flex-direction: row;
}

footer{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  opacity: 0.6;
}