html{
  font-family: Futura;
  color: white;
}
.header{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #2947a6;
  opacity: 0.9;
  
}
.header h1{
  font-size: 2.5rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
}
nav a:hover {
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-size: 1.7rem;
  
}
.header img{
  height: 50px;
}
body{
  background-image: url("./imgs/background.jpg");
}

/* About */
.about-me{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1.5%; 
}
.about-img-p{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.about-me img{
  width: auto;
  height: 40vh;
  border-radius: 10px;
}
.about-div{
  /* margin-left: 3vw; */
  background: black;
  opacity: 0.7;
  width: 50vw;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .about-div {
        padding: 0.5%;
        font-size: 1rem; 
        width: 90vw;
    }  
}
/* project section */
.projects{
  background: black;
  opacity: 0.7;
  margin: 1.5%;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  
}
.project-sheet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card{
  margin: 0.5%;
  padding: 0.5%;
  padding-bottom: 1rem;
  background: gray;
  width: 20vw;
  height: 40vh;
  text-align: Center;
  border-radius: 10px;
  justify-content: center;
}
.project{
  pointer-events: inherit;
}
@media screen and (max-width: 768px) {
    .project-card {
        font-size: 1rem; 
        width: 90vw;
        height: 60vh;
    }  
}
.project-description{
  background: black;
  opacity: 0.7;
  height: 20vh;
  font-size: 1rem;
  pointer-events: inherit;
}
.project img{
  width: 150px;
  height: 200px;
  pointer-events: inherit;
}
.desc-p{
  padding:0.2%;
  pointer-events: inherit;
}
.project a {
  text-decoration: none;
  color: white;
}
.project a:hover {
  text-decoration: none;
  color: rgb(206, 206, 206);
  opacity: 1;
}
.hidden{
  display: none;
}
.show{
  display: inherit;
  pointer-events: inherit;
}
/* tech section */
.tech{
  background: black;
  opacity: 0.7;
  margin: 1.5%;
  padding:1%;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.logo-container{
  margin: 1%;
  background: white;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0.5rem;
}
.logo-square{
  width: 10vw;
  height: 15vh;
}
.logo-rectangle{
  width: 15vw;
  height: 10vh;
}

/* Contact */
.contact-me {
  background: black;
  opacity: 0.7;
  margin: 2rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.contact-me div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.contact-info img {
  height: 50px;
}
.contact-info a {
  text-decoration: none;
  color: white;
}
.contact-info a:hover {
  text-decoration: none;
  opacity: 0.8;
  height: 60px;
}
/* Resume */
.resume {
  background: black;
  opacity: 0.7;
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}
.resume a{
  align-content: center;
  align-items: center;
  text-align: center;
}
.resume h3{
  text-decoration: none;
  text-align: center;
  align-self: center;
  color: white;
}
.resume a:hover {
  opacity: 0.8;
}
footer{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  opacity: 0.6;
  max-height: 5vh;
}